/* product One */

.productBigBox {
    flex: 0.8;
    align-items: center;

}

productBigBox img {
    width: 350px;

}


/* jobs */



.jobCard{
    background-color: #738f9c;
    display: inline-block;
    box-shadow: 5px 5px 5px #434747;
    border-style: solid;
    border-radius: 5px, black;
}

/* product */
.productCard{
    background-color: #90b64d6c;
    display: inline-block;
    box-shadow: 10px 10px 5px #434747;
    border-style: solid;
    border-radius: 5px, black;
}

.prouctBtn{
    
    border: black;
    border-style: solid ;
    border-width: 2px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #8ed5136c;
   
}
/* navbar */

.cartMenuBar {
    flex-direction: 'column' ;
    padding: 25px ;
    justify-content: center;
    margin-bottom: -30px;
   
}


.cartNumber{
    color: black;
    padding-left: 7px;
    margin-top: -7px;
}

.titlemobile{
   padding: 10px;
   width: 350px;
}

@media (max-width : 560px){
    .titlemobile{
        padding: 10px;
        width: 650px;
     }
}

.imgmobile{
    width: 250px;
    margin-right: -20px;

}

.product-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .product-row img {
    width: 50px;
    margin-right: 10px;
  }
  
  .product-row .name {
    font-weight: bold;
  }
  
  .product-row p {
    margin-right: 20px;
  }
  
  .product-row button {
    background-color: rgb(26, 181, 228);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: auto;
  }
  


.profileBox {
    
    background-color: #b4babd;
    justify-content: center;
    
}
.profileTitle{
    text-align: center;
    padding-top: 50px;
    color: aliceblue; 
    text-shadow: 2px 2px 8px #090909;
    margin-bottom: 30px;
}

.profileForm {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.formItem {
    flex-direction: row;
    justify-content: start;
    margin-right: 70px;
    
}

.formInput{
    flex: 1;
    margin-bottom: 35px;
}

.profileBtn {
  background-color: #41a845; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 25px;
}



.profileBtn:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}